@import "compass/css3";
@import "compass/reset";
@import "_utility";

/* Page Styles */
body {
    background: black;
}

.game {
    width: 350px;
    height: 350px;

    &:focus {
        outline: none;
    }

    -webkit-touch-callout: none;
    -webkit-user-select: none; /* Disable selection/Copy of UIWebView */
}