<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Snake</title>

    <link rel="stylesheet" href="/stylesheets/style.css">
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/EventEmitter.min.js"></script>
    <script src="/javascripts/heir.js"></script>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/jquery.swipe.js"></script>
    <script src="/javascripts/modernizr.js"></script>
    <script src="/javascripts/util.js"></script>


    <!--[if lt IE 9]>
        <script src="/javascripts/ie/flashcanvas.js"></script>
        <script src="/javascripts/ie/es5.js"></script>
        <script src="/javascripts/ie/ie.js"></script>

    <![endif]-->

    <script src="/javascripts/game.js"></script>
    <script src="/javascripts/page.js"></script>
</head>
<body>

    <div class="audios">
        <audio class="bite-sound">
            <source src="/sounds/bite.mp3" type="audio/mp3"></source>
        </audio>

        <audio class="death-sound">
            <source src="/sounds/death.mp3" type="audio/mp3"></source>
        </audio>

        <audio class="background-sound" loop autoplay>
            <source src="/sounds/background.mp3" type="audio/mp3"></source>
        </audio>
    </div>

    <div class="images">
        <img src="/images/sound.png" class="sound">
        <img src="/images/sound-mute.png" class="sound-mute">
    </div>

    <div class="touch-capture"></div>

    <canvas id="background-canvas" class="game fixed middle center" width="300" height="300"></canvas>
    <canvas id="canvas" class="game fixed middle center" width="300" height="300"></canvas>
</body>
</html>
